$align-center:center;
$primary-color:#d4cf2e;
$secondary-color:#140b14;
$light-color:#ffffff;
$dark-color:#000;
$float-left:left;
$direction-flex:flex;
$main-padding:5rem;


//typography
$primary-font:"Poppins",sans-serif;
$secondary-font: 'IBM Plex Serif', serif;
$text-center:center;

//color

$gray-color:#e3e3e3;
$light-bgcolor:#eeeeee;